@font-face {
  font-family: 'Clash Display';
  src: url('./assets/fonts/ClashDisplay_Complete/Fonts/WEB/fonts/ClashDisplay-Bold.woff') format('woff');
}

/* .ul li a {
  position: relative;
  padding-bottom: 4px;
} */

h1,
.typed {
  font-family: 'Clash Display', sans-serif;
}

/* .ul li a::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background: #00df9a;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .3s linear;
}

.ul li a:hover::before {
  transform: scaleX(1);
  transform-origin: left;
} */

/* .resume {
  position: relative;
} */

/* .resume::after {
  position: absolute;
  content: "";
  left: 230px;
  bottom: 0;
  height: 4px;
  width: 30%;
  background: #00df9a;
} */

.mis li {
  list-style-image: url(./assets/img/list\ terms.png);

}

@media (min-width:640px) {
  .hty {
      -webkit-animation: animatezoom 2s;
      animation: animatezoom 2s;
    }
  
    @-webkit-keyframes animatezoom {
      from {
        -webkit-transform: translateX(-400px);
        opacity: 0;
      }
  
      to {
        -webkit-transform: translateX(0);
        opacity: 1;
      }
    }
  
    @keyframes animatezoom {
      from {
        transform: translateX(-400px);
        opacity: 0;
      }
  
      to {
        transform: translateX(0);
        opacity: 1;
      }
    }
}

/* .home {
  background-color: #00df9a;
  position: absolute;
  transform: rotate(-15deg);
  height: 200%;
  left: -83%;
  top: -20%;
  width: 100%;
} */
/* .home {
  background-color: #00df9a;
  position: absolute;
  transform: rotate(-15deg);
  height: 100%;
  right: -23%;
  top: 90%;
  width: 50%;
  clip-path: polygon(50% at right);
} */

@media (max-width:768px) {
  .home {
    display: none;
  }

}